<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>signup</title>
    <style>
        .form-container {
    width: 300px;
    margin: 0 AUTO;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
      .form-container label {
    display: block;
    margin-bottom: 10px;
  }
      </style>
</head>
<body>
    
    <div class="form-container">
        <h1>SIGN-UP</h1>
        <form method="POST" action="/user">
        <label>Full Name</label>
      <input type="text" required name="name" />
      <label>Email</label>
      <input type="text" required name="email" />
      <label>Password</label>
      <input type="text" required name="password" />

      <button type="submit">Signup</button>

    </form></div>
</body>
</html>